<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin_layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>База данных продуктов</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container mt-5 text-light bg-black p-5 rounded-5 mb-5">
        <h1 class="mb-4">Продукты</h1>
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered text-light">
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Изображение</th>
                            <th class="product-name">Название</th>
                            <th class="product-price">Цена</th>
                            <th>Редактирование</th>
                            <th class="product-remove">Удаление</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-light">
                            <td class="product-thumbnail">
                                <img src="https://www.publicdomainpictures.net/pictures/500000/nahled/kop-koffie-tas-koffie-png.png" alt="Image" class="img-fluid" style="width: 150px; height: 150px">
                            </td>
                            <td class="product-name">
                                <h2 class="h5">Top Up T-Shirt</h2>
                            </td>
                            <td>$49.00</td>
                            <td><a href="#" class="btn btn-secondary ">Редактировать</a></td>
                            <td><a href="#" class="btn btn-danger btn-lg">X</a></td>
                        </tr>

                        <tr>
                            <td class="product-thumbnail">
                                <img src="https://www.publicdomainpictures.net/pictures/490000/velka/koffie-kopje-koffie-png.png" alt="Image" class="img-fluid" style="width: 150px; height: 150px">
                            </td>
                            <td class="product-name">
                                <h2 class="h5">Polo Shirt</h2>
                            </td>
                            <td>$49.00</td>
                            <td><a href="#" class="btn btn-secondary ">Редактировать</a></td>
                            <td><a href="#" class="btn btn-danger btn-lg">X</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>